<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <h1>My Blog</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/post">Post</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><button class="darkmode">Dark</button></li>
                </ul>
            </nav>
        </div>
    </header>
