<%- include('partials/header.ejs') %>
<div class="container">
    <div class="heading-blog my-10">
        <h1 class="text-center italic font-bold font-mono text-6xl"><%= blog.title %></h1>
    </div>
    <div class="content my-16">
        <p class="font-mono text-xl"><%= blog.content %></p>
    </div>
</div>
<%- include('partials/footer.ejs') %>